body {
  font-family: "Open Sans", serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.logo {
  margin-left: 0px;
  position: relative;
  top: 0%;
  left: 0px;
  /*  width: 250px; */
  margin-right: 25px;
  height: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 0%;
}

.footer-black,
.navbar-black {
  background-color: #211f20 !important;
}

.footer-white,
.navbar-white {
  background-color: #ffffff !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.container {
  max-width: 100%;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

.fullWidth-dark #rights span {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.fullWidth-light #rights span {
  color: #211f20;
  text-align: center;
  display: block;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.navbar-dark {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-light {
  color: rgba(33, 31, 32, 0.55);
  border-color: rgba(33, 31, 32, 0.1);
}
